GOOGLE_API_KEY=AIzaSyD9I4nj8_oyENRgDjfzAHR4J5Q2QgAue88
GROQ_API_KEY=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
OPENROUTER_API_KEY=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
MISTRAL_API_KEY=
SAMBANOVA_API_KEY=
UPSTOX_API_KEY=
UPSTOX_API_SECRET=
UPSTOX_REDIRECT_URI=http://localhost:8000/callback
UPSTOX_NOTIFIER_PORT=8000
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="Project Pantheon"
FINNHUB_API_KEY=d6vr87hr01qiiutcs5egd6vr87hr01qiiutcs5f0
SCREENER_EMAIL=pranavakumar.it@gmail.com
SCREENER_PASSWORD=c*hDD7b;.y4:t2r=

DATABASE_URL=sqlite:///./pantheon.db
DATABASE_URL_ASYNC=sqlite+aiosqlite:///./pantheon.db
