GOOGLE_API_KEY=
GROQ_API_KEY=
DEEPSEEK_API_KEY=
OPENROUTER_API_KEY=
MISTRAL_API_KEY=
SAMBANOVA_API_KEY=
UPSTOX_API_KEY=
UPSTOX_API_SECRET=
UPSTOX_REDIRECT_URI=http://localhost:8000/callback
UPSTOX_NOTIFIER_PORT=8000
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=pantheon-mmci
FINNHUB_API_KEY=
SCREENER_EMAIL=
SCREENER_PASSWORD=

DATABASE_URL=sqlite:///./pantheon.db
DATABASE_URL_ASYNC=sqlite+aiosqlite:///./pantheon.db
